@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 15 30% 95;
    --foreground: 15 5% 0%;
    --card: 15 30% 92%;
    --card-foreground: 15 5% 10%;
    --popover: 15 30% 95%;
    --popover-foreground: 15 95% 0%;
    --primary: 191 51.3% 15.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 15 72.6% 54.1%;
    --secondary-foreground: 0 0% 100%;
    --muted: 153 10% 80%;
    --muted-foreground: 35 5% 10%;
    --accent: 153 10% 80%;
    --accent-foreground: 35 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 15 5% 90%;
    --border: 191 51.3% 15.3%;
    --input: 191 51.3% 15.3%;
    --ring: 15 72.6% 54.1%;
    --radius: 0.3rem;
    --sidebar-background: 15 30% 92;
    --sidebar-foreground: 15 5% 0%;
    --sidebar-primary: 191 51.3% 15.3%;
    --sidebar-primary-foreground: 15 95% 0%;
    --sidebar-accent: 153 10% 80%;
    --sidebar-accent-foreground: 35 5% 10%;
    --sidebar-border: 191 51.3% 15.3%;
    --sidebar-ring: 15 72.6% 54.1%;
  }
  .dark {
    --background: 33 5% 10%;
    --foreground: 33 0% 100%;
    --card: 33 8% 15%;
    --card-foreground: 33 5% 90%;
    --popover: 33 10% 5%;
    --popover-foreground: 33 5% 90%;
    --primary: 182 31.1% 64.1%;
    --primary-foreground: 0 0% 0%;
    --secondary: 33 67.1% 72.5%;
    --secondary-foreground: 0 0% 0%;
    --muted: 144 10% 25%;
    --muted-foreground: 182 0% 65%;
    --accent: 144 10% 25%;
    --accent-foreground: 182 0% 95%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 182 0% 90%;
    --border: 182 20% 18%;
    --input: 182 20% 18%;
    --ring: 182 31.1% 64.1%;
    --radius: 0.3rem;
    --sidebar-background: 33 5% 10%;
    --sidebar-foreground: 33 0% 100%;
    --sidebar-primary: 182 31.1% 64.1%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 144 10% 25%;
    --sidebar-accent-foreground: 182 0% 95%;
    --sidebar-border: 182 20% 18%;
    --sidebar-ring: 182 31.1% 64.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

.invert-on-dark {
  filter: invert(1);
}

[data-theme="dark"] .invert-on-dark {
  filter: invert(0);
}

.art {
  background-color: transparent;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
