@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 240 5% 85%;
  --foreground: 190.5 51.28% 15.29%;
  --muted: 0 1.41% 86.08%;
  --muted-foreground: 187.5 49.32% 28.63%;
  --popover: 0 0% 97%;
  --popover-foreground: 190.5 51.28% 15.29%;
  --card: 240 4% 89%;
  --card-foreground: 190.5 51.28% 15.29%;
  --border: 180 34.65% 80.2%;
  --input: 0 1.41% 86.08%;
  --primary: 180 34.65% 80.2%;
  --primary-foreground: 190.5 51.28% 15.29%;
  --secondary: 112.73 32.67% 80.2%;
  --secondary-foreground: 190.5 51.28% 15.29%;
  --accent: 181.05 30.81% 63.73%;
  --accent-foreground: 190.5 51.28% 15.29%;
  --destructive: 15.18 72.65% 54.12%;
  --destructive-foreground: 240 4% 95.1%;
  --ring: 180 34.65% 80.2%;
  --radius: 0.5rem;
}
.dark {
  --background: 182 0% 10%;
  --foreground: 182 0% 90%;
  --card: 182 0% 15%;
  --card-foreground: 182 0% 90%;
  --popover: 182 0% 15%;
  --popover-foreground: 182 0% 90%;
  --primary: 182 29.2% 81.2%;
  --primary-foreground: 0 0% 0%;
  --secondary: 182 10% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 144 10% 25%;
  --muted-foreground: 182 0% 60%;
  --accent: 144 10% 25%;
  --accent-foreground: 182 0% 90%;
  --destructive: 0 50% 49%;
  --destructive-foreground: 182 0% 90%;
  --border: 182 20% 49%;
  --input: 182 20% 49%;
  --ring: 182 29.2% 81.2%;
  --radius: 0.5rem;
 }

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.invert-on-dark {
  filter: invert(1);
}

[data-theme="dark"] .invert-on-dark {
  filter: invert(0);
}

.art {
  background-color: transparent;
}
